<div class="row" id="app-content">
  <div ng-repeat="c in contents" class="col s12" show-first-content-tab>
    <ul class="collapsible popout" data-collapsible="accordion">
      <li ng-repeat="t in c.themes" init-collapsibles>
        <div
          class="collapsible-header"
          ng-click="setCurrentTheme(t.pk)" show-first-theme>

          <span class="new badge grey lighten-3 blue-text text-darken-2"
            ng-class="{'lighten-2': currentTheme==t.pk||currentTheme==null&&$index==0}"
            data-badge-caption="{{ (t.issues | filter: {completed: false}).length==1?'pendiente': 'pendientes'}}">{{ (t.issues | filter: {completed: false}).length }}</span>
          <span class="new badge green lighten-3"
            ng-class="{'lighten-1': currentTheme==t.pk||currentTheme==null&&$index==0}"
            data-badge-caption="{{ (t.issues | filter: {completed: true}).length==1?'yala': 'yalas'}}">
            {{ (t.issues | filter: {completed: true}).length }}</span>
          <i class="material-icons">assignment</i>{{t.name}}

        </div>
        <div class="collapsible-body">
          <table>
            <tbody>
              <tr ng-repeat="i in t.issues">
                <td>{{i.name}}</td>

                <td class="issue-actions right-align">
                    <a class="waves-effect waves-gray btn-floating teal lighten-5" ng-hide="i.completed"
                      ng-class="{'lighten-3': i.doing==true}" ng-model="i.doing">
                      <i ng-show="i.doing" class="material-icons  cyan lighten-2" ng-click="issueAction(i, 'end')">pause</i>
                      <i ng-hide="i.doing" class="material-icons cyan-text darken-2" ng-click="issueAction(i, 'start')">play_arrow</i>
                    </a>

                    <div class="switch">
                      <label>
                        pendiente
                        <input type="checkbox" ng-model="i.completed" ng-click="issueAction(i, 'complete')">
                        <span class="lever"></span>
                        yala
                      </label>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  // $('ul.tabs').tabs()
  $(".button-collapse").sideNav();
</script>